.header {
    padding-bottom: 76px;
    background: url(../img/header/bg.png) center center/cover no-repeat;
    background-size: 100% 100%;

    &__menu {
        background: rgba(33, 33, 33, 0.8);
        backdrop-filter: blur(11px);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
    }

    &__phone {
        line-height: 22px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    &__content {
        padding-left: 69px;
    }

    button {
        margin-top: 40px;
    }

    &__swiper-navigation {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}

.header .swiper {
    margin-top: 78px;
    position: static;
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
    position: static;
    width: 90px;
    height: 90px;
    z-index: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}